<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-profile<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="name">Name</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="name" 
                    id="name" 
                    value="<% if (editing || hasError) { %><%= profile.name %><% } %>">
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
            </div> -->
            <div class="form-control">
                <label for="image">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" >
            </div>
            <div class="form-control">
                <label for="amount">Amount</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="number" 
                    name="amount" 
                    id="amount" 
                    step="0.01" 
                    value="<% if (editing || hasError) { %><%= profile.amount %><% } %>">
            </div>

            <div class="form-control">
                <label for="number">Number</label>
                <input 
                    type="text" 
                    name="number" 
                    id="number" 
                    value="<% if (editing || hasError) { %><%= profile.number %><% } %>">
            </div>

            <div class="form-control">
                <label for="reason">Reason</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'reason') ? 'invalid' : '' %>"
                    name="reason" 
                    id="reason" 
                    rows="5"><% if (editing || hasError) { %><%= profile.reason %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Profile<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>